/* You can add global styles to this file, and also import other style files */
:root {
  --darkColor: #272527;
  --redColor: #e73e33;
  --whiteColor: #FFFFFF;
}

body {
  // background-color: var(--darkColor);
}